@import url(./fonts.css);


:root{
    --font-primary: 'Roboto';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    max-width: 1376px;
    width: 100%;
    margin:  auto;
    padding: 0 12px;
}

/* header start */


/* header end */


/* membership start */

/* membership end */


/* guide start */

/* guide end */


/* info start */
.info__cards {
    display: flex;
    justify-content: space-between;
}
.info__cards__card-title {
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
    color: #692340;
    margin: 180px 0 22px;
}
.info__cards__card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #692340;
}
.info__cards__card-tex {
    max-width: 430px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #692340;
    margin: 22px 0 13px;
}
.info__cards__image-img {
    margin: 100px 0 0 0;
}
.info__cards__card-span {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    margin: 16px 0 178px 0;
}
.info__logo {
    margin: 178px 0 43px 0;
}
.info__cards-card {
    margin: 181 0 0 0;
}
.info__logo-img {
    margin: 140px 0 0 0;
}
.info__cards__card-titlee  {
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
    color: #692340;
    margin: 43px 0 22px;
}
/* info end */


/* slider start */




/* slider end */


/* already start */




/* already end */




/* community start */




/* community end */


/* place start */




/* place end */


/* footer start */




/* footer end */



